body{
    font-family: 微软雅黑, Arial, sans-serif;
}

nav {
    background-color: rgb(33, 33, 33); /* 设置背景颜色 */
    color: yellow; /* 设置文字颜色 */
    width: 100%; /* 设置导航栏宽度为100% */
    position: fixed; /* 使用fixed定位，使导航栏固定在屏幕顶部 */
    top: 0; /* 将导航栏顶部与屏幕顶部对齐 */
    left: 0; /* 将导航栏左侧与屏幕左侧对齐 */
    height: 40px;
    display: flex;
    align-items: center; /* 垂直居左对齐内部元素 */

}

nav img{
    width: 40px;
    height: auto;
    position: absolute;
    top: 0;
}

ul {
    list-style-type: none; /* 移除列表样式 */
    padding: 0;
}

li {
    display: inline; /* 横向排列列表项 */
    margin-right: 20px; /* 设置列表项之间的间距 */
}

a {
    text-decoration: none; /* 移除链接下划线 */
    color: white; /* 设置链接文字颜色 */
    font-size: larger;
    padding: 10px 30px; /* 设置链接内边距 */
}

p.nav{
    margin-top: 45px; /* 设置顶部外边距 */

}

p {
    margin: 5px; /* 设置外边距 */
}
